#tooltip {
	/**background: url(../images/search.png) no-repeat 5px 50%;*/
	border: 1px solid gray;
	float: left;
	font-size: 12px;
	max-width:300px;
	padding: 1em 1em 1em 1em;
	position: absolute;
}

body {
background-color:White;
margin:10px;
}
td {
    padding:4px;
}

.rounded {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
