.container {
    width: 970px;
}

.toolbar {
    width: 862px;
    height: 33px;
    background-color: #FFF;
    position: fixed;
    background-color: #33B5E5;
    z-index: 999;
    border: 1px solid #FFF;
}

    .toolbar ul {
        list-style: none;
        display: block;
    }

        .toolbar ul li {
            float:left;
            display: inline;
        }

.headerItemContainer {

    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    height: auto;
}

    .headerItemContainer h3 {
        color: #33B5E5;
        margin-top: 10px;
        margin-left: 10px;

    }

.clear {
    clear: both;
}

.ItemContainer_0 {
    width: 90%;
    margin: 10px 0px 10px 30px;
    float: left;
    border: none;
    height: auto;
    /*height: 30px;*/
}

.highlightedItem {
    border: 1px solid #CCC;
}


.ItemTextArea {
overflow:hidden;
display: none;
width: 100%;
outline: 2px solid #33B5E5;
z-index: 999;
}

.panel-header {
    width: auto;
    background-color: #33B5E5;
    color: #fff;
}




    .buttonControl {
        width:24px;
        height: 24px;
        cursor: pointer;
    }

.panel-header span {
    color: #fff;
}

.buttonContainer {
    background-color: #33B5E5;

}

.hidden {
    display: none;
    border: none;
}


.item-footer {
    display: none;
}

.addHeader {
    color: #33B5E5;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    float: right;
    margin-right: 25px;
}

.shrink {
    zoom: 0.85;
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
}

.shrink2 {
    width: 45%;
/*        zoom: 0.95;
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);*/
    border-left: 1px solid #CCC;
}

.Language_Container {
    width: 100%;
    display: block;
}

#hiddenItemControls {
    float: right;
}

.controlContainer {
    width: 100%;
    background-color: #888;
    height: 25px;
}

.noTitleStuff .ui-dialog-titlebar {display:none}

.singleView {
    width: 90%;
}

.ItemDisplay {
    padding-left: 5px;
}